header .element-UnstyledButton-root {
    color: inherit;
    background-color: unset;
    border: none;
}

header .element-UnstyledButton-root:hover {
    background-color: unset;
    color: inherit;
}
