.mantine-List-itemWrapper, .mantine-List-itemLabel  {
    width: 100%;
}


.mantine-List-itemLabel  .mantine-Button-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
