.element-List-itemWrapper .element-List-itemLabel {
    width: 100%;
    padding: 0;
}


.element-List-itemLabel .element-Button-inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: unset !important; 
}

.element-List-itemLabel .element-Button-inner .element-Button-label {
    word-wrap: break-word;
    text-align: left;
    white-space: normal !important;
    padding-right: 0.25rem;
}

.element-List-itemLabel .element-Button-inner .element-Button-section{
    margin: auto .25rem;
}


.element-ScrollArea-thumb {
    background-color: light-dark(var(--element-color-dark-0), var(--element-color-dark-4)) !important;
}