.mantine-UnstyledButton-root {
    background-color: unset;
    border: none;
    /* opacity: .8; */
}

.mantine-UnstyledButton-root:hover {
    background-color: unset;
    color: inherit;
    /* opacity: 1; */
}