html, body{
    height: 100%;
    min-height: 100%;
}

ul {
    list-style-type: none;
    padding: .5rem;
}

.mantine-UnstyledButton-root {
    opacity: .8;
}

.mantine-UnstyledButton-root:hover {
    opacity: 1;
}

div h2 a {
    color: unset;
    text-decoration: none;
}