.mantine-UnstyledButton-root {
    background-color: unset;
    border: none;
    opacity: .8;
}

.mantine-UnstyledButton-root:hover {
    background-color: unset;
    opacity: 1;
}

ul {
    list-style-type: none;
    padding: .5rem;
}