ul {
    list-style-type: none;
    padding: .5rem;
}

.mantine-UnstyledButton-root {
    background-color: unset;
    border: none;
    opacity: .8;
}

.mantine-UnstyledButton-root:hover {
    background-color: unset;
    opacity: 1;
}

.mantine-Notification-root{
    /* position: fixed !important;
    bottom : 1rem;
    right: 1rem;
    z-index: 999; */
}